DISCORD_TOKEN=MTQ5MjgyODcyODU3NTkxODE2MQ.G0xioo.s8Nqs_FJsE2tyBWpg8th-oyZLQQgT9d3CU6G6Y
CLIENT_ID=1492828728575918161
SUPABASE_URL=https://kqucmbnsgtblclgruekn.supabase.co
SUPABASE_KEY=sb_publishable_WkvkYNZIh69K5Nbql7XE6w_a0VQZLfz
LAVALINK_HOST=
LAVALINK_PORT=2333
LAVALINK_PASSWORD=
SPOTIFY_CLIENT_ID=1a5d8bdd05304a3ea99b2f7d127f7dd7
SPOTIFY_CLIENT_SECRET=a61d7691477445f68a91c64a89c8ceb1

