DISCORD_TOKEN=MTQ5MjgyODcyODU3NTkxODE2MQ.G0xioo.s8Nqs_FJsE2tyBWpg8th-oyZLQQgT9d3CU6G6Y
CLIENT_ID=1492828728575918161
SUPABASE_URL=https://kqucmbnsgtblclgruekn.supabase.co
SUPABASE_KEY=sb_publishable_WkvkYNZIh69K5Nbql7XE6w_a0VQZLfz
LAVALINK_HOST=
LAVALINK_PORT=2333
LAVALINK_PASSWORD=
SPOTIFY_CLIENT_ID=d3bf064c125943eba685a1536a36530d
SPOTIFY_CLIENT_SECRET=46c15a5e458f47728d768c154e18eec5
YTMUSIC_AUTOPLAY_URL=http://127.0.0.1:3001
